*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgb(0, 0, 27);
}
.div1{
    background-color: white;
    width: 24rem;
    height: 24rem;
    margin-left: auto;
    margin-right: auto;
}
.furm{
    margin-left: 4.2%;
    /* background-color: rgba(247, 247, 173, 0.496); */
}
#email{
    background-color: rgba(249, 249, 118, 0.667);
    border-color: rgba(212, 252, 132, 0.94);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 3%;
    size: 200px;
    width: 95%;
    height: 3rem;
}
#password{
    background-color: rgba(249, 249, 118, 0.667);
    border-color: rgba(212, 252, 132, 0.94);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    size: 200px;
    width: 95%;
    height: 3rem;
}
.head{
    color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header{
    text-align: center;
    padding-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}
.bot1{
    background-color: rgb(3, 3, 103);
    border-color:rgb(3, 3, 103) ;
    border-radius: 10px;
    color: white ;
    width: 22.2rem;
    height: 3rem;
    margin-left: 4.2%;
    border-radius: 3%;
    /* box-shadow: none; */
}
.pan{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
.dive2{
    margin-left: auto;
    margin-right: auto;
}
.line{
    color: rgba(205, 201, 201, 0.375);
}
.lett{
    text-align: center;
    color: white;
}
.lett1{
    padding-bottom: 2rem;
}